<ul class="pull-right" id="connect">
        <li>
            <a href="https://www.linkedin.com/in/susanwands/" target="_blank">
                <span class="linkedin"></span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/LadyCoder/" target="_blank">
                <span class="facebook"></span>
            </a>
        </li>
        <li>
                <a href="https://github.com/susanwands" target="_blank">
                    <span class="github"></span>
                </a>
            </li>
    </ul>