 {{ define "main" -}}

<div class="row">
    <div class="col-md-12">
        <section>
            <h2>
                Here are some links where you can find me:
            </h2>
            <ul>
                <li>
                    <a href="https://www.facebook.com/LadyCoder/">Facebook</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/susanwands/">LinkedIn</a>
                </li>
                <li>
                    <a href="http://www.mycertprofile.com/Profile/2874676749">Microsoft Profile</a>
                </li>
                <li>
                    <a href="https://www.scrum.org/user/279672">Scrum.org Profile</a>
                </li>
                <li>
                    <a href="https://www.meetup.com/Women-in-Tech-Allies/">Meetup</a>
                </li>
                <li>
                    <a href="https://github.com/susanwands">GitHub</a>
                </li>
                <li>
                    <a href="mailto:ladycoder@outlook.com">Email Me</a>
                </li>
            </ul>
        </section>

    </div>
</div>

{{- end}}