 {{ define "main" -}}

<div class="row">
    <div class="col-md-12">
        <section>
            <h2>
                Here are a few of my fav tools and resources online:
            </h2>
            <ul>
                <li>https://www.reliablepsd.com/ultimate-google-font-pairings/</li>
                <li>http://meettheipsums.com/</li>
                <li>https://coolors.co</li>
                <li>http://www.favicomatic.com/</li>
            </ul>
        </section>

    </div>
</div>

{{- end}}